body {
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.numbers {
  text-align: center;
}
.numbers > div {
  background: #ff5500cc;
  padding: 1rem;
}

.numbers > div:nth-child(even) {
  background: #f058;
  padding: 1rem;
}
